<!-- LOADING ICON =============================================== -->
<!-- show loading icon if the loading variable is set to true -->
<!--
<p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
-->
<style>
    .menuButton {
    background-color:black;
    background: -webkit-linear-gradient(180deg, red, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, red, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, red, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, red, black); /* Standard syntax */
    color:white;
    border-radius:10px;
    margin-bottom:15px;
    margin-right:20px;
    padding: 5px;
    width:200px;
    cursor:pointer;
    }
    .menuButton:hover {
    background-color:darkred;
    background: -webkit-linear-gradient(180deg, darkred, darkgrey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, darkred, darkgrey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, darkred, darkgrey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, darkred, darkgrey); /* Standard syntax */
    }

    .menuButton img {
    border-radius:5px;
    width:40px;
    height:auto;
    margin-right:20px;
    }
    .menuButton div {
    display:inline;
    }
    
    .subContent {
        padding-left:20px;
    }

    .menuOption{
        display:block;
        min-height:500px;
        overflow:hidden;
    }

</style>

<!--  Option 2  -->

<div class="menuOption">
    <div style="float:left">
        <ul class="list-unstyled">
            <li class="shadow  menuButton">
                <div>
                    <img src="images/mic-Blank.gif">
                </div>
                <div>Home</div>
            </li>
            <li class="shadow  menuButton">
                <div>
                    <img src="images/mic-Blank.gif">
                </div>
                <div>Show List</div>
            </li>
            <li class="shadow  menuButton">
                <div>
                    <img src="images/mic-Blank.gif">
                </div>
                <div>Our DJ's</div>
            </li>
            <li class="shadow  menuButton">
                <div>
                    <img src="images/mic-Blank.gif">
                </div>
                <div>Alternate Menu</div>
            </li>
            <li class="shadow  menuButton">
                <div>
                    <img src="images/mic-Blank.gif">
                </div>
                <div>Song Book</div>
            </li>

        </ul>



    </div>

    <div class="subContent">
        <H1>We are Little Sister Productions</H1>
        <P>One of the leading karaoke and disc jockey entertainment services in the Dallas - Fort Worth Area.
            In business since 1991, we have had the opportunity to grow with the industry, sampling the new
            technologies and choosing only the best.</P>

        <P>
            Little Sister Productions has fired up audiences and singers all over the DFW Metroplex weekly at some
            of the hottest venues!  Follow the music and join in the fun either on the microphone or dancing to
            the beat.  We are here for you!
        </P>

        <H2>Contact Information</H2>
        <UL class="list-unstyled">
            <li><strong>Lisa Canterberry - Owner</strong></li>
            <li>Email: <a href="mailto:#">LCanterber@aol.com</a></li>
            <li>Phone: (214) 212-5792</li>
        </UL>

    </div>
</div>


