

<!-- LOADING ICON =============================================== -->
<!-- show loading icon if the loading variable is set to true -->
<!--
<p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
-->



<!--  Option 2  -->



        <H1>We are Little Sister Productions</H1>
        <P>One of the leading karaoke and disc jockey entertainment services in the Dallas - Fort Worth Area.
            In business since 1991, we have had the opportunity to grow with the industry, sampling the new
            technologies and choosing only the best.</P>

        <P>
            Little Sister Productions has fired up audiences and singers all over the DFW Metroplex weekly at some
            of the hottest venues!  Follow the music and join in the fun either on the microphone or dancing to
            the beat.  We are here for you!
        </P>

        <H2>Contact Information</H2>
        <UL class="list-unstyled">
            <li><strong>Lisa Canterberry - Owner</strong></li>
            <li>Email: <a href="mailto:#">LCanterber@aol.com</a></li>
            <li>Phone: (214) 212-5792</li>
        </UL>
