

<!-- LOADING ICON =============================================== -->
<!-- show loading icon if the loading variable is set to true -->
<!--
<p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
-->



<div class="well well-lg shadow parchment-faded">
    {{model.message}}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand lobster" href="#">LSP</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Show List</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="songSearch/index.php">Song Book</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--
                    <li><a href="https://www.facebook.com/lisa.b.canterberry"><img alt="Visit us on Facebook" style="height:20px" src="images/Facebook-64.png"></a></li>
                    <li><div class="fb-like" style="margin-top:15px;" data-href="http://www.littlesisterkaraoke.com" data-width="50" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div></li>
                    -->
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <H1>We are Little Sister Productions</H1>
    <P>One of the leading karaoke and disc jockey entertainment services in the Dallas - Fort Worth Area.
        In business since 1991, we have had the opportunity to grow with the industry, sampling the new
        technologies and choosing only the best.</P>

    <P>
        Little Sister Productions has fired up audiences and singers all over the DFW Metroplex weekly at some
        of the hottest venues!  Follow the music and join in the fun either on the microphone or dancing to
        the beat.  We are here for you!
    </P>

    <H2>Contact Information</H2>
    <UL class="list-unstyled">
        <li><strong>Lisa Canterberry - Owner</strong></li>
        <li>Email: <a href="mailto:#">LCanterber@aol.com</a></li>
        <li>Phone: (214) 212-5792</li>
    </UL>

</div> <!-- end of parchment background -->

